/* =========================================================== *
Custom Styles
============================================================== */
.course-content li.section li.activity.quiz.modtype_quiz {
    display:none;
}
.course-content li.section:last-child li.activity.quiz.modtype_quiz {
    display: block;
}
.editing .course-content li.section li.activity.quiz.modtype_quiz {
    display: block;
}